<header>
    <div class="container">
      <div id="branding">
        <a href="/admin_dashboard"><h1>Dashboard</h1></a>
      </div>
      <nav>
        <ul>
          <li><a href="/employee">Employee</a></li>
          <li><a href="/animals">Animals</a></li>
          <li><a href="/report">Report</a></li>
          <li><a href="/search">Search</a></li>
          <li><a href="feed.html">Feedback</a></li>
        </ul>
      </nav>
    </div>
  </header>