<header>
  <div class="container">
    <div id="branding">
      <h1>UVCE Zoo</h1>
    </div>
    <nav>
      <ul>
        <li class="current"><a href="/">Home</a></li>
        <li><a href="/tickets">Tickets</a></li>
        <li><a href="/signin">Sign In</a></li>
      </ul>
    </nav>
  </div>
</header>