<section id="options">
    <div class="container">
      <nav>
        <ul>
          <li><a href="/tickets_bookTicket">Book Tickets</a></li>
          <li><a href="/tickets_viewTicket">View Tickets</a></li>
        </ul>
      </nav>
    </div>
  </section>