<h2 class="container">Search Animal Details</h2>

    <div class="container">
        <form action="/animal_search" method="post">
            <br>
            Enter TicketID:<input type="text" name="ticketID" value="">
            <button type="submit">Submit</button>
            <br>
        </form>
    </div>
