<section id="options">
    <div class="container">
      <br>
      <form action="/tickets_viewTicket" method="post">
        View Ticket: <input type="text" name="ticketno" id="">
        <button type="submit">Check</button>
      </form>
      <br>
    </div>

  </section>


  <script>


  </script>