<h2 class="container">Search Animal Details</h2>

    <div class="container">
        <br>
        <form action="/animals_search" method="post">
            
            Enter AnimalID:<input type="text" name="animalID" value="">
            <button type="submit">Submit</button>
            
        </form>
        <br>
    </div>
