<h2 class="container">Add Animal Details</h2>

<form class="container" action="/animals_add" method="POST">
    <br>
  <table>
     <tr>
       <td>
         Animal name:
       </td>
       <td>
         <input type="text" name="name" value="">
        </td>
     </tr>
     <tr>
        <td>
          Biological name:
        </td>
        <td>
          <input type="text" name="bioname" value="">
         </td>
     </tr>
     <tr>
       <td>
         Gender:
       </td>
       <td>
         <input type="radio" name="gender" value="M">Male
         <input type="radio" name="gender" value="F">Female
       </td>
     </tr>

     <tr>
       <td>
         Height:
       </td>
       <td>
         <input type="Phone" name="height" value="">
       </td>
     </tr>

     <tr>
       <td>
         Weight:
       </td>
       <td>
         <input type="Phone" name="weight" value="">
       </td>
     </tr>

     <tr>
       <td>
         Feed Type:
       </td>
       <td>
         <input type="text" name="type" value="">
       </td>
     </tr>

     <tr>
       <td>
         Date of Birth:
       </td>
       <td>
         To:
         <input type="Date" name="dob" value="">
       </td>
     </tr>
     <tr>
       <td>
         Category:
        </td>
       <td>
         <select>
           <option name="category" value="Mammal">Mammal</option>
           <option name="category" value="Bird">Bird</option>
           <option name="category" value="Reptile">Reptile</option>
           <option name="category" value="Fish">Fish</option>
          </select>
       </td>
    </tr>
    <tr>
      <td>
        Cage No.:
      </td>
      <td>
        <input type="Phone" name="cageno" value="">
      </td>
    </tr>
    <tr>
      <td>
        EmpID:
      </td>
      <td>
        <input type="Phone" name="empID" value="">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
  <br>
</form>
