<h2 class="container">Search Animal Details</h2>

    <div class="container">
        <br>
        <form action="/animals_search" method="post">
            
            Enter AnimalID : <input type="text" class="form-control" name="aid" value="">
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>
        
    </div>