<h2 class="container">Add Animal Details</h2>

<form class="container" action="/animals_add" method="POST">
    <br>
  <table>
     <tr>
       <td>
         Animal name:
       </td>
       <td>
         <input type="text" name="aname" value="">
        </td>
     </tr>
     <tr>
      <td>
        Common name:
      </td>
      <td>
        <input type="text" name="cname" value="">
       </td>
    </tr>
     <tr>
        <td>
          Biological name:
        </td>
        <td>
          <input type="text" name="bioname" value="">
         </td>
     </tr>
     <tr>
       <td>
         Gender:
       </td>
       <td>
         <input type="radio" name="gender" value="M">Male
         <input type="radio" name="gender" value="F">Female
       </td>
     </tr>

     <tr>
       <td>
         Height:
       </td>
       <td>
         <input type="number" name="ht" value="">
       </td>
     </tr>

     <tr>
       <td>
         Weight:
       </td>
       <td>
         <input type="number" name="wt" value="">
       </td>
     </tr>

     <tr>
       <td>
         Feed ID:
       </td>
       <td>
         <input type="text" name="feedid" value="">
       </td>
     </tr>

     <tr>
       <td>
         Date of Birth:
       </td>
       <td>
         <input type="Date" name="dob" value="">
       </td>
     </tr>
    <tr>
      <td>
        Cage No.:
      </td>
      <td>
        <input type="number" name="cageno" value="">
      </td>
    </tr>
    <tr>
      <td>
        <button type="submit">Submit</button>
      </td>
    </tr>
  </table>
  <br>
</form>
