<h2 class="container">Add Employee</h2>

    <form class="container" action="/emp_add" method="POST">
      <table>
         <tr>
           <td>
             First name:
           </td>
           <td>
             <input type="text" name="fname" value="">
           </td>
           <td>
             Last name:
             <input type="text" name="lname" value="">
           </td>
         </tr>
         <tr>
           <td>
             Gender:
           </td>
           <td>
             <input type="radio" name="gender" value="M">Male
             <input type="radio" name="gender" value="F">Female
           </td>
         </tr>
         <tr>
           <td>
             Address:
           </td>
           <td>
             House No.:
             <input type="text" name="house" value="">
           </td>
          </tr>
           <tr>
             <td>
              </td>
             <td>
               St. Name:
               <input type="text" name="st_name" value="">
             </td>
          </tr>
          <tr>
            <td>
             </td>
            <td>
              Area:
              <input type="text" name="area" value="">
            </td>
         </tr>
         <tr>
           <td>
            </td>
           <td>
             City:
             <input type="text" name="city" value="">
           </td>
        </tr>
        <tr>
          <td>
           </td>
          <td>
            Zipcode:
            <input type="text" name="zip" value="">
          </td>
       </tr>
         <tr>
           <td>
             Phone no.:
           </td>
           <td>
             <input type="Phone" name="phone" value="">
           </td>
         </tr>

         <tr>
           <td>
             Date of Birth:
           </td>
           <td>
             To:
             <input type="Date" name="dob" value="">
           </td>
         </tr>
         <tr>
           <td>
             Department:
            </td>
           <td>
             <input type="text" name="deptID" value="">
           </td>
        </tr>
        <tr>
          <td>
            Salary:
          </td>
          <td>
            <input type="Phone" name="salary" value="">
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit">Submit</button>
          </td>
        </tr>
      </table>
    </form>
