<section id="options">
    <div class="container">
      <nav>
        <ul>
          <li><a href="/emp_add">Add Employee</a></li>
          <li><a href="/emp_modify">Modify Employee</a></li>
          <li><a href="/emp_search">Search Employee</a></li>
        </ul>
      </nav>
    </div>
  </section>