<h2 class="container">Modify Employee</h2>

    <div class="container">
      <br>
      <form action="/emp_modify" method="post">
        Enter EmpID:<input type="text" name="empid" value="">
        <button type="submit">Modify</button>
    </form>
    <br>
    </div>
