<br>
<h2 class="container">Search Employee</h2>

  <div class="container">
    <br>
    <form action="/emp_search" method="POST">
      <label class="form-label">Enter EmpID :</label> 
        <input type="text" name="empid" class="form-control" value="">
        <br>
        <button type="submit" class="btn btn-dark">Search</button>
    </form>
    <br>
    
  </div>

<script src="/public/js/search.js"></script>