<h2 class="container">Search Employee</h2>

    <div class="container">
      <br>
      <form action="/emp_search" method="post">
          Enter EmpID:<input type="text" name="empid" value="">
          <button type="submit">Search</button>
      </form>
      <br>
    </div>
