<div class="table-responsive">
    <table class="empsearchtable table table-bordered ">
      <thead class="table-dark">
        <th>EmpID</th>
        <th>FName</th>
        <th>LName</th>
        <th>Gender</th>
        <th>House No</th>
        <th>Street Name</th>
        <th>Area</th>
        <th>City</th>
        <th>Zip</th>
        <th>Phone</th>
        <th>DOB</th>
        <th>Dept</th>
        <th>Salary</th>
      </thead>
      <tbody>
        

      </tbody>
    </table>
    <br>
  </div>