<section id="showcase">
    <div class="container">
      <h1>Welcome to UVCE Zoo</h1>
      <p>This is a Zoo DBMS project.</p>
      <p>It can be used to manage Animal,Employee and Ticket Data</p>
    </div>
  </section>