<form class="container" method="POST" action="/report">
    <table>
       <tr>
         <td>
           Generate report  
         </td>
         <td>
           From:
           <input type="Date" name="datefrom" value="">
         </td>
         <td>
           To:
           <input type="Date" name="dateto" value="">
         </td>
       </tr>
    </table>
    <button type="submit">Submit</button>
  </form>



