<form class="container" method="POST" action="/report">
    <table>
       <tr>
         <td>
           Generate report  
         </td>
         <td>
           From:
           <input type="Date" name="datefrom" value="">
         </td>
         <td>
           To:
           <input type="Date" name="dateto" value="">
         </td>
       </tr>
    </table>
    <button type="submit" class="btn btn-primary" id="mybtn">Submit</button> 
  </form>
  <!-- <a href="">Submit</a> -->

  <!-- <div class="table-responsive">
    <table class="reporttable table table-bordered ">
      <thead class="table-dark">
        <th>Ticket No</th>
        <th>Normal</th>
        <th>Supreme</th>
        <th>Date From</th>
        <th>Date To</th>
        <th>Date Booked</th>
        <th>Amount</th>
      </thead>
      <tbody>
        
      </tbody>
    </table> -->
    <br>
  </div>


