<h2 class="container">Search Tickets</h2>

    <div class="container">
      <br>
      <form action="/search" method="post">
          Enter Ticket ID:<input type="text" name="ticketID" value="">
          <button type="submit">Search</button>
      </form>
      <br>
    </div>
