body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    width: 100%
  }
  
  /*Global*/
  .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  ul{
    margin: 0;
    padding: 0;
  }
  
  
  
  /* Header*/
  header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d dpx solid;
  }
  
  
  header a{
    color: #ffffff;
    text-decoration: None;
    font-size: 16px;
  }
  
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float: left;
  }
  
  header #branding h1{
    margin: 0;
  }
  
  header nav{
    margin-top: 10px;
    float: right;
  }
  
  header .current a{
    color: #ffffff;
  }
  
  header a:hover{
    color: #e8491d;
    font-weight: bold;
  }
  
  /* Showcase*/
  #showcase{
    min-height: 600px;
    background: url('../safari.jpg') no-repeat 0 -435px;
    text-align: center;
    color: #ffffff;
  }
  
  #showcase h1:first-child{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px
  }
  #showcase h1:not(:first-child){
    margin-top: 20px;
    font-size: 55px;
    margin-bottom: 10px
  }

  
  #showcase p{
    font-size: 20px;
  }
  
  #options{
    background-color: #e8491d;
    color: #ffffff;
  }
  
  #options a{
    color: #ffffff;
    text-decoration: None;
    font-size: 30px;
  }
  
  #options .current a{
    color: #ffffff;
  }
  
  #options a:hover{
    color: #35424a;
    font-weight: bold;
  }
  
  
  footer{
    padding:20px;
    color:#ffffff;
    background-color: #35424a;
    text-align: center;
  }

  .table{
    text-align: center;
    width: 400px;
    margin: 0 auto;
  }
  
  tr{
    background-color: rgb(241, 236, 236);
  }

  .showcase{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  

  .form-control{
    width: 20%;
  }

  li{
    list-style-type: none;
  }

  h1 span{
    color: #35424a;  
  }

  .typeoftickets h1{
    margin-top: -20%;
  }

  .empsearchtable, .anisearchtable, .cagetable{
    width: 80%;
  }
  .hidden{
    display:none;
  }

  .backbtn{
    display:flex;
    width: 60px;
    margin: 0 auto;
    justify-content: center;
    
  }
  