<section id="options">
    <br>
    <h2 class="container">Sign In</h2>
    <form action="/signin" method="post">
        <div class="container">
        <input type="email" name="email" placeholder="Enter Email">
        </div>
        <div class="container">
        <input type="password" name="pass" placeholder="Enter Password">
        </div>
        <div class="container">
        <button type="submit" class="Button_1">Sign In</button>
        </div>
    </form>
    <br>
  </section>